*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}
.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.container > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.container > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output-box {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output-box .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output-box .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}
